# Telegram Bot
TELEGRAM_BOT_TOKEN=8166473987:AAFE3DrNIcd_n39koz-Y70Mq-n96p2N8Vsw
TELEGRAM_CHAT_ID=226166473

# Binance API (Live Trading)
BINANCE_API_KEY=Rsn4sJcuThHwyAl0prGU9x0cgTQXZNBaTJWBjwV0rMTZvUwPfMdvgsAK8Zu8u6bi
BINANCE_SECRET_KEY=ctPBcjMqIGiEQOByKenR5y3SjBejdLJ5xNoEwY4G1fimNSsGg5u62DAhIG6Zh4XV

# Anthropic API (для AI функций)
ANTHROPIC_API_KEY=your_anthropic_key_here
